body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #0078d7;
  color: white;
  padding: 50px 20px;
  border-bottom: 5px solid #005a9e;
}

.App-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.App-description {
  font-size: 1.2rem;
  font-weight: 400;
}

.App-footer {
  margin-top: 50px;
  padding: 10px;
  background-color: #282c34;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.App-footer p {
  margin: 0;
  font-size: 0.9rem;
}